
old/requirementsold.txt
old/clean_KPI_nb_films_pays_imdbfull .ipynb
old/code quete streamlite copy.ipynb
old/code quete streamlite.ipynb
old/code_quete_streamlit_MM.py
old/imdb_clean_pays.tsv
old/KPI_nb_films_pays_imdbfull.ipynb
code quete streamlite copy.ipynb
code quete streamlite.ipynb
